{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard"    
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
  },
  "ignoreFiles": ["**/*.tsx", "**/*.ts", "**/*.js"]
}
